body{
    background-color: rgb(12, 12, 12);
}

#instagram, #twitter, #facebook{
    font-size: 25px;
    margin-left: 480px;
    cursor: pointer;
}
h5, h6{
    cursor: pointer;
}
#chiocc{
    margin-left: 700px;
}

#legal, #privacyc, #privacyp, #cookie, #about, #access{
    cursor: pointer;
}
h6{
    font-size: 14px;
    color: rgb(177, 177, 177);
    
}
h5{
    font-size: 15px;
    margin-bottom: 14px;
    
}
p{
    color: rgb(177, 177, 177);
    font-size: 13px;
}
