body{
    height:100%;
    background-image: url(https://img.freepik.com/premt-background-black-night-dark-evening-with-space-text-backgroundx9_661047-5058.jpg);
    font-family: 'Cabin', sans-serif;
    
}
#spotSong{
    color: rgb(156, 155, 155);
    margin-top: 2px;
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    
    
}

#spoty{
    width: 100px;
    margin-left: 100px;
    cursor: pointer;
}

#card1{
    background-color: orangered;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   }
 #card1 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }

#card2{
    background-color: rgba(43, 43, 139, 0.575);
    position: relative;
   overflow: hidden;
   cursor: pointer;
}
#card2 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card3{
    background-color: rgb(255, 0, 106);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#card3 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card4{
    background-color: green;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#card4 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card5{
    background-color: orange;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#card5 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card6{
    background-color: rgb(202, 82, 38);
    position: relative;
   overflow: hidden;
   cursor: pointer;
}
#card6 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card7{
    background-color: fuchsia;
    position: relative;
   overflow: hidden;
   cursor: pointer;
}
#card7 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#card8{
    background-color: violet;
    position: relative;
   overflow: hidden;
   cursor: pointer;
}
#card8 img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: -10px;
    bottom: -3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 50px 20px;
    transform: rotate(30deg);
    
 }
#boxPlay{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
    padding-right: 20px;
    
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
}
#miniBox{
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    font-size: 30px;
}
#heart1{
    cursor: pointer;
}
#play1{
    margin-left: 18px;
    cursor: pointer;
}
#device1{
    margin-right: 18px;
    cursor: pointer;
}
#device1:hover,
#play1:hover,
#heart1:hover{
  font-size: 32px;

}

#homeButton, 
#cercaButton, 
#libraryButton {
cursor: pointer ;
font-size: 25px;
}


#homeButton:hover,
#cercaButton:hover,
#libraryButton:hover{
font-size: 32px;

}


#paragh{
    cursor: pointer;
}

#listen{
    border: none;
    background-color: rgb(33, 37, 41);
    font-size: 20px;
    width: 350px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 20px;
    color: white;

}


#searchIcon{
    font-size: 25px;
    margin-left: 25px;
    margin-top: 10px;
    cursor: pointer;
}
#searchIcon:hover{
    font-size: 30px;
}