body{
    height: 100%;
    background-color: black;
}
#spotSong{
    color: rgb(156, 155, 155);
    margin-top: 2px;
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    
    
}
#card1{
    background-color: orangered;
   background-image: url("assets/imgs/search/image-2.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
   
   }
 

#card2{
    background-color: rgba(43, 43, 139, 0.575);
    background-image: url("assets/imgs/search/image-40.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#card3{
    background-color: rgb(255, 0, 106);
    background-image: url("assets/imgs/search/image-18.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#card4{
    background-color: green;
    background-image: url("assets/imgs/search/image-12.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#card5{
    background-color: orange;
    background-image: url("assets/imgs/search/image-21.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#card6{
    background-color: rgb(202, 82, 38);
    background-image: url("assets/imgs/search/image-23.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#card7{
    background-color: fuchsia;
    background-image: url("assets/imgs/search/image-32.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;

}

#card8{
    background-color: violet;
    
    background-image: url("assets/imgs/search/image-52.jpg");
   background-repeat: no-repeat;
   background-size: 70px;
   background-position: 145px 42px;
   cursor: pointer;
}

#boxPlay{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
    padding-right: 20px;
    
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
}
#miniBox{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    font-size: 30px;
}
#contentPlayer {
    cursor: pointer;
}