@import url(./circular-font.css);


body{
     background-color: rgb(18, 18, 18) !important;
}
#user-avatar{
    width: 35px;
}


#artist-img{
    width: 40px;
}

button{
    all: unset !important;
    cursor: pointer !important;

  
}

#play-button{
    background-color: rgb(1, 101, 1) !important;
   
   
}




