@import url(./circular-font.css);


body{
     background-color: rgb(18, 18, 18) !important;
}
#user-avatar{
    width: 35px;
}


#artist-img{
    width: 40px;
}

button{
    all: unset !important;
    cursor: pointer !important;

  
}

#play-button{
    background-color: rgb(31, 200, 101)!important; 
}
#play-button:hover{
    scale: 1.1 !important;
}
#cover-container:hover{
    scale: 1.1 !important;

}




.song-row:hover{
    background-color: #242424;
    border-radius: 5px;
}




/* -------nav aside------ */
.position-aside{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #121212;
}
.altezza-aside {
    position: sticky;
    top: 0;
    overflow:scroll;
    height: 100vh;
}
.img-album-song {
    width: 90px;
}
.img-album-song-aside {
    width: 50px;
    border-radius: 10px;
}
.hover-aside{
    padding: 10px;
    border-radius: 100px;
}
.hover-aside:hover{
    background-color:#242424;
}
.hover-col-brani:hover{
    background-color: #242424;
}
.hover-ancor-brani{
    color: white;
}
.hover-ancor-brani:hover{
    color: #2dce67;
}
.ancore-aside:hover {
    background-color: #6b706a;
}



/* nav mobile */
.bg-nav-mobile {
    
    width: 100vh;
    height: 150px;
    position:fixed;
    bottom: 0;
    background-color: #121212;
    z-index: 9999;
    background-color: RGBA(0,0,0,0.8);
    
}


a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: underline !important;
    text-decoration-color: rgb(31, 200, 101) !important;
}
